<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <title>Todo</title>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="Inserisci testo" v-model="task" @KeyUp.enter="addTask">
        <button @click="addTask">Aggiungi</button>
        <div v-if="error">
            Errore
        </div>
        <ul>
            <li v-for="(task, index) in tasks">
                <div>
                    {{task.text}}
                </div>
                <div>
                    <!-- <i class="fa-solid fa-xmark"></i> -->
                    <i class="fa-solid fa-trash" @click="deleteTask(index)"></i>
                </div>
                
            </li>
        </ul>
    </div>
    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>


</body>
</html>